<h1>User Profile Page</h1>
<div class="row">
    <aside class="span4">
       <div>
       	Username:
       	<%= @user.name%>
       </div> 

       <div>
       	User Email:
       	<%= @user.email%>
       </div>
    </aside>
</div>